@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=Montserrat:wght@600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 274 55% 91%;
    --foreground: 0 0% 100%;

    --card: 274 55% 91%;
    --card-foreground: 274 59% 21%;

    --popover: 0 0% 100%;
    --popover-foreground: 274 59% 21%;

    --primary: 274 59% 21%;
    --primary-foreground: 0 0% 100%;

    --secondary: 351 100% 71%;
    --secondary-foreground: 0 0% 100%;

    --muted: 274 30% 85%;
    --muted-foreground: 274 20% 45%;

    --accent: 274 78% 58%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 274 30% 80%;
    --input: 274 30% 85%;
    --ring: 274 78% 58%;

    --radius: 1.5rem;

    --cookie-pink: 351 100% 71%;
    --purple-magic: 274 78% 58%;
    --deep-black: 210 13% 29%;
    --cookie-white: 29 55% 91%;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 274 59% 21%;
    --foreground: 0 0% 100%;

    --card: 274 59% 21%;
    --card-foreground: 0 0% 100%;

    --popover: 274 59% 21%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 274 59% 21%;

    --secondary: 351 100% 71%;
    --secondary-foreground: 0 0% 100%;

    --muted: 274 40% 30%;
    --muted-foreground: 274 20% 70%;

    --accent: 274 78% 58%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 274 40% 30%;
    --input: 274 40% 30%;
    --ring: 274 78% 58%;
    --sidebar-background: 274 59% 21%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 274 78% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 274 40% 30%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 274 40% 30%;
    --sidebar-ring: 274 78% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Montserrat", sans-serif;
  }

  h1,
  h2,
  h3 {
    font-family: "Caveat", cursive;
    font-weight: 700;
  }
}
